.container {
    display: inline-block;
    position: relative;
    justify-content: center;
    width: auto;
    height: auto;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 30px;
}

.container input {
    height: 20px;
    width: 270px;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    position: blo;
    font-size: 15px;
    border: 2px solid white;
}

.container button {
    display: inline-block;
    margin: 7px;
    position: relative;
    align-items: center;
    justify-content: space-around;
    background-color: #333333;
    color: azure;
    height: 30px;
    width: 100px;
    font: oblique bold 100% cursive;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    margin-top: 7px;
    margin-bottom: 3px;
    padding: 0; /* Eliminar el padding */
    line-height: 30px; /* Alinear verticalmente el texto */
    border: 1px solid white;
}


.container button:hover {
    color: #6f4e4ede;
    cursor: pointer;
}

.container input:focus {
    background-color: white;
    color: #333;
    
}