.container {
    display: inline-flex;
    position: relative;
    justify-content: center;
    width: auto;
    height: auto;
    margin-top: 10px;
    cursor: pointer;
}

.container input {
    height: 20px;
    width: 270px;
    background-color: whitesmoke;
    border-radius: 5px;
    border: 2px gray solid;
    margin-bottom: 3px;
    position: relative;
    font-size: 15px;
}

.container button {
    display: inline-block;
    margin: 1px;
    position: relative;
    align-items: center;
    justify-content: space-around;
    background-color: #333333;
    color: azure;
    height: 30px;
    width: 100px;
    font: oblique bold 100% cursive;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 2px;
    padding: 0; /* Eliminar el padding */
    line-height: 30px; /* Alinear verticalmente el texto */
}


.container button:hover {
    color: #e55743;
    cursor: pointer;
}

.container input:focus {
    background-color: whitesmoke;
    color: black;
}
