/* Landing.module.css */

.centeredText {
    position: absolute;
    top: 20%; 
    left: 50%; 
    transform: translate(-50%, -50%); /* Centra completamente */
    color: rgb(49, 48, 48); 
    z-index: 1; /* Asegura que el texto esté encima de la imagen */
    font: oblique bold 100% cursive;
    font-size: 25px;
 

  }
  
  .imageContainer {
    position: relative;
    width: 100%; 
  }


  
  .centered {
    position: absolute;
    top: 25%; 
    left: 50%; 
    transform: translate(-50%, -50%); /* Centra completamente */
    color: rgb(65, 65, 63); 
    z-index: 1; /* Asegura que el texto esté encima de la imagen */
    font: oblique bold 100% cursive;
    font-size: 18px;
 

  }